<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="720" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="true" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="Map.tmx" />
		<entities>
			<player x="492" y="212" w="32" h="32" texture="Assets/Textures/spritesheet.png">
				<animations>
					<idle loop="true" speed="0.05">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
					</idle>
					<jumpingright loop="true" speed="0.1">
						<frame x="0" y="64" w="32" h="32" />
						<frame x="32" y="64" w="32" h="32" />
						<frame x="64" y="64" w="32" h="32" />
						<frame x="96" y="64" w="32" h="32" />
						<frame x="128" y="64" w="32" h="32" />
						<frame x="160" y="64" w="32" h="32" />
						<frame x="192" y="64" w="32" h="32" />
						<frame x="224" y="64" w="32" h="32" />
					</jumpingright>
					<jumpingleft loop="true" speed="0.1">
						<frame x="0" y="128" w="32" h="32" />
						<frame x="32" y="128" w="32" h="32" />
						<frame x="64" y="128" w="32" h="32" />
						<frame x="96" y="128" w="32" h="32" />
						<frame x="128" y="128" w="32" h="32" />
						<frame x="160" y="128" w="32" h="32" />
						<frame x="192" y="128" w="32" h="32" />
						<frame x="224" y="128" w="32" h="32" />
					</jumpingleft>
					<walkingright loop="true" speed="0.1">
						<frame x="0" y="32" w="32" h="32" />
						<frame x="32" y="32" w="32" h="32" />
						<frame x="64" y="32" w="32" h="32" />
						<frame x="96" y="32" w="32" h="32" />
					</walkingright>
					<walkingleft loop="true" speed="0.1">
						<frame x="0" y="160" w="32" h="32" />
						<frame x="32" y="160" w="32" h="32" />
						<frame x="64" y="160" w="32" h="32" />
						<frame x="96" y="160" w="32" h="32" />
					</walkingleft>
					<dying loop="false" speed="0.1">
						<frame x="0" y="96" w="32" h="32" />
						<frame x="32" y="96" w="32" h="32" />
						<frame x="64" y="96" w="32" h="32" />
						<frame x="96" y="96" w="32" h="32" />
						<frame x="128" y="96" w="32" h="32" />
						<frame x="160" y="96" w="32" h="32" />
						<frame x="192" y="96" w="32" h="32" />
						<frame x="224" y="96" w="32" h="32" />
					</dying>
					<damage loop="true" speed="0.15">
						<frame x="0" y="352" w="32" h="32" />
						<frame x="32" y="352" w="32" h="32" />
						<frame x="64" y="352" w="32" h="32" />
					</damage>
					<dash loop="false" speed="0.25">
						<frame x="0" y="384" w="48" h="32" />
						<frame x="48" y="384" w="48" h="32" />
						<frame x="96" y="384" w="48" h="32" />
						<frame x="144" y="384" w="48" h="32" />
						<frame x="192" y="384" w="48" h="32" />
						<frame x="240" y="384" w="48" h="32" />
						<frame x="288" y="384" w="48" h="32" />
					</dash>
				</animations>
			</player>
			<items>
				<item name="coin" x="200" y="672" w="32" h="32" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy>
					<position x="304" />
					<position y="1135" />
				</enemy>
				<enemy>
					<position x="626" />
					<position y="410" />
				</enemy>
				<enemy>
					<position x="464" />
					<position y="844" />
				</enemy>
				<enemy>
					<position x="656" />
					<position y="559" />
				</enemy>
				<enemy>
					<position x="816" />
					<position y="207" />
				</enemy>
				<enemy>
					<position x="1200" />
					<position y="943" />
				</enemy>
				<enemy>
					<position x="1328" />
					<position y="143" />
				</enemy>
				<enemy>
					<position x="1360" />
					<position y="684" />
				</enemy>
				<enemy>
					<position x="1552" />
					<position y="108" />
				</enemy>
				<enemy>
					<position x="1648" />
					<position y="591" />
				</enemy>
				<enemy>
					<position x="1969" />
					<position y="975" />
				</enemy>
				<enemy>
					<position x="1968" />
					<position y="1100" />
				</enemy>
				<enemy>
					<position x="2416" />
					<position y="1135" />
				</enemy>
				<enemy>
					<position x="2576" />
					<position y="751" />
				</enemy>
				<enemy>
					<position x="2576" />
					<position y="1042" />
				</enemy>
				<enemy>
					<position x="2768" />
					<position y="1135" />
				</enemy>
			</enemies>
		</entities>
	</scene>
</config>
